/* hier wordt de achtergrondkleur bewerkt*/
body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(lightblue, #F5F5DC, black);
}

/* Dit is de bovenste tekst op de elke pagina*/
#header {
    color: #F5F5DC;
    text-align: center;
    font-size: 80px;
    margin-bottom: 180px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* dit is voor alle links */
a {
    text-decoration: none;
}

/* Dit is de box met de vraag Engels of Nederlands die je ziet op de taalpagina*/
#nederlands-engels {
    display: flex;
    color: black;
    justify-content: center;
    border-radius: 20px;
}

/* dit is de tekst die je ziet op de home pagina*/
#hometext {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-left: 600px;
    margin-right: 600px;
    animation: fade 1s;
    font-size: 12px;
}

/* dit is de tekst die je ziet op de quizpagina*/
#quiztext {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-left: 600px;
    margin-right: 600px;
    animation: SlideinRight 0.8s;
    font-size: 12px;
}

/* dit is de antwoorden die je ziet op de taalpagina */
form {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
    margin: 0px;
    animation: SlideinLeft 0.47s;
}

/* dit is de property die gebruikt wordt voor de kleuranimatie die rond de border van een element gaat(Is op dit moment niet in gebruik voor het animatiedeel)*/
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* Dit heeft allemaal te maken met het glow effect dat je kunt zien op elke textbox */
form::after,
#hometext::after,
form::before,
#hometext::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #faf0e6, white, #faf0e6);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 1;
    padding: 4px;
    border-radius: 20px;
    animation: 8s spin linear infinite;
}

/* Hier krijgt het licht dat uit de gradient komt een blur effect */
form::before {
    filter: blur(2rem)
}

/* Hier krijgt het licht dat uit de gradient komt een blur effect */
#hometext::before {
    filter: blur(2rem)
}


/* Dit is voor de tekst in de input */
label {
    font-size: 25px;
    font-family: monospace;
}

/* Dit is voor de onderkant van de pagina met de copyright symbolen */
footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#faf0e6, black);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-top: 500px;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 0;
}

/* dit is voor de knop die je ziet op de home pagina om verder te gaan naar de taalpagina*/
#homebutton {
    background-color: rgb(81, 231, 81);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    margin: 0px;
    border-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* dit is voor de knop die je ziet op de taalpagina om je taal te kiezen en vervolgens verder te gaan naar de quizvragen*/
#quizbutton {
    background-color: rgb(81, 231, 81);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    border-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Dit is text dat wordt gebruikt om de user te helpen met de navigatie van de website */
#tutorialtext {
    margin-top: 20px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* responsiveness */
@media (max-width: 1600px) {
    #hometext {
        font-size: 20px;
        margin-left: 200px;
        margin-right: 200px;
        animation: fade 2s;
    }
}

/* dit is voor als je hovert boven de homebutton en quizbutton */
#homebutton:hover, #quizbutton:hover {
    transform: translateY(-1px);
    opacity: 0.6;
}

/* Dit is de animatie die gebruikt wordt voor de kleuranimatie die rond de border van een element gaat(Is op dit moment niet in gebruik)
@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}
*/

/* Dit is de animatie voor een element die links komt */
@keyframes SlideinLeft {
    from {
        transform: translateX(-2400px);
    }

    to {
        transform: translateX(0);
    }
}

/* Dit is de animatie voor een element die rechts komt */
@keyframes SlideinRight {
    from {
        transform: translateX(2400px);
    }

    to {
        transform: translateX(0);
    }
}

/* Dit is de animatie voor als een element te voorschijnkomt */
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}