/* hier wordt de achtergrondkleur bewerkt*/
body {
    margin: 0px;
    padding: 0px;
    background-color: #081b29;
}

/* Dit is de bovenste tekst op de elke pagina*/
#header {
    color: #F5F5DC;
    text-align: center;
    font-size: 80px;
    margin-bottom: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* dit is voor alle links */
a {
    text-decoration: none;
}

/* dit is de tekst die je ziet op de home pagina*/
#hometext {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    animation: fade 1s;
    font-size: 12px;
}

/* dit is de tekst die je ziet op de quizpagina*/
#quiztext {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    animation: SlideinLeft 0.8s;
    font-size: 12px;
}

/* dit is de antwoorden die je ziet op de taalpagina */
#form {
    position: relative;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    animation: SlideinLeft 0.8s;
}

/* dit is de position properties voor #form */
#form1{
    position: relative;
    display: flex;
    flex-wrap:nowrap;  
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 40px;
}

/* dit is de property die gebruikt wordt voor de kleuranimatie die rond de border van een element gaat(Is op dit moment niet in gebruik voor het animatiedeel)*/
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* Dit heeft allemaal te maken met het glow effect dat je kunt zien op elke textbox */
#form::after,
#hometext::after,
#form::before,
#hometext::before,
#quiztext::after,
#quiztext::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #faf0e6, white, #faf0e6);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 1;
    padding: 4px;
    border-radius: 20px;
    animation: 8s spin linear infinite;
}

/* Hier krijgt het licht dat uit de gradient komt een blur effect */
#form::before {
    filter: blur(1.5rem)
}

/* Hier krijgt het licht dat uit de gradient komt een blur effect */
#hometext::before {
    filter: blur(1.5rem)
}

#quiztext::before {
    filter: blur(1.5rem);
}

/* Dit is voor de tekst in de input */
label {
    font-size: 25px;
    font-family: monospace;
}

/* Dit is voor de onderkant van de pagina met de copyright symbolen */
footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #081b29;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-top: 350px;
    animation: foot linear;
    animation-timeline: view();
    animation-range: entry 0;
}

/* dit is voor de knop die je ziet op de home pagina om verder te gaan naar de taalpagina*/
#homebutton {
    background-color: rgb(81, 231, 81);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    width: 100%;
    padding: 12px;
    margin: 0px;
    border-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* dit is voor de knop die je ziet op de taalpagina om je taal te kiezen en vervolgens verder te gaan naar de quizvragen*/
#quizbutton {
    background-color: rgb(81, 231, 81);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    border-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* dit is voor de knop op taal.html om de engels quiz te starten*/
#travisscott, #playboicarti, #kendricklamar, #kanye, #future, #secret {
    background-color: rgb(81, 231, 81);
    color: black;
    text-align: center;
    font-size: 35px;
    border-radius: 20px;
    width: 100%;
    padding: 12px;
    border-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Dit is voor de fotos die je ziet op kies.html */
#foto {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
    animation: fade 2s;
}


/* Dit is text dat wordt gebruikt om de user te helpen met de navigatie van de website */
#tutorialtext {
    margin-top: 20px;
    font-size: 16px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* responsiveness */
@media (max-width: 1700px) {
    #form1 {
        position: relative;
        display: flex; 
        justify-content: center;
        margin-left: 500px;
        margin-right: 500px;
        animation: fade 1s;
    }

    #foto {
        width: 320px;
        height: 320px;
        animation: fade 1s;
    }
}

@media (max-width: 1272px) {
    #form1 {
        position: relative;
        display: flex;
        flex-wrap: wrap;  
        justify-content: center;
        margin-left: 80px;
        margin-right: 80px;
        animation: fade 1s;
    }
}

@media (max-width: 1500px) {
    #hometext, #quiztext {
        font-size: 12px;
        margin-left: 300px;
        margin-right: 300px;
        animation: fade 1s;
    }

  
}

/* responsiveness */
@media (max-width: 1061px) {
    #hometext, #quiztext {
        font-size: 12px;
        margin-left: 50px;
        margin-right: 50px;
        animation: fade 1s;
    }

    #form1 {
        position: relative; 
        display: flex;
        flex-direction: column; 
        align-items: center; 
        margin-left: 80px;
        margin-right: 80px;
        animation: fade 1s;
    }

    #foto {
        width: 350px;
        height: 350px;
        animation: fade 1s;
    }
}

/* dit is voor als je hovert boven de homebutton en quizbutton */
#homebutton:hover, #travisscott:hover, #playboicarti:hover, #kendricklamar:hover, #kanye:hover, #future:hover, #secret:hover {
    transform: translateY(-1px);
    opacity: 0.6;
}

/* Stijl voor de hoofdtitel in de quiz */
.quiznederlands h1{
font-weight: 25px;
color:#081b29;
font-weight:600;
border-bottom:1px solid #333;
padding-bottom: 20px;
} 

/* Stijl voor de container van de quiz */
.quiz{
padding:20px 0;
}

/* Stijl voor de subtitel in de quiz */
.quiz h2{
font-size:18px ;
color:#001e4d;
font-weight:600 ;
}

/* dit is de buttons van de quiz-antwoorden */
.btn{
background: #fff;
color:#222 ;
font-weight:500 ;
width: 100%;
border: 1px solid #222;
padding: 10px; 
margin:10px 0;
text-align:left;
border-radius: 4px; 
}

/* Stijl voor wanneer een knop wordt hoverd met de muis eroverheen beweegt */
.btn:hover:not([disabled]) {
background: #222;
color: #fff;
}

/* Stijl voor wanneer een knop uitgeschakeld is */
.btn:disabled{
cursor:no-drop;

}
/* Stijl voor de 'Next' knop */
#next-btn{
background:#001e4d;
color:#fff;
font-weight: 500;
width: 150px;
border: 0;
padding: 10px;
margin: 20px auto 0;
border-radius: 4px;
cursor:pointer;
display: none;
}

/* Stijl voor een juiste antwoord */
.correct{
background:#9aeabc ;
}


/* Stijl voor een onjuiste antwoord  */
.incorrect{
background: #ff9393;


}
/* Dit is de animatie die gebruikt wordt voor de kleuranimatie die rond de border van een element gaat(Is op dit moment niet in gebruik)
@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}
*/

/* Dit is de animatie voor een element die links komt */
@keyframes SlideinLeft {
    from {
        transform: translateX(-2400px);
    }

    to {
        transform: translateX(0);
    }
}

/* Dit is de animatie voor de footer*/
@keyframes foot {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

/* Dit is de animatie voor een element die rechts komt */
@keyframes SlideinRight {
    from {
        transform: translateX(2400px);
    }

    to {
        transform: translateX(0);
    }
}

/* Dit is de animatie voor een element die van boven komt */
@keyframes SlideinTop {
    from {
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0);
    }
}

/* Dit is de animatie voor als een element te voorschijnkomt */
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}