/* hier wordt de achtergrondkleur bewerkt*/
body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(lightblue, #F5F5DC, black);
}

/* Dit is de Quiz tekst die je ziet wanneer je de pagina opstart*/
#header {
    color: #F5F5DC;
    margin: 0px;
    text-align: center;
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Dit is de box met de vraag engels of nederlands die je ziet op de home pagina*/
#nederlands-engels {
    display: flex;
    color: black;
    justify-content: center;
    border-radius: 20px;
    margin-top: 200px;
}

/* dit is de antwoorden die je ziet op de startpagina */
form {
    position: relative;
    background-color: white;
    border-radius: 20px; 
    padding: 100px;
}

/* dit is de code voor de animatie die je ziet op de antwoorden */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

form::after,
form::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #faf0e6, white, #faf0e6);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    opacity: 1;
    padding: 4px;
    border-radius: 20px;
    animation: 8s spin linear infinite;
}

form::before {
    filter: blur(2rem)
}

/* Dit is de animatie die gebruikt wordt voor de border */
@keyframes spin{
    from {
      --angle: 0deg;
    }
    to {
    --angle: 360deg;
    }
}

/* Dit is de animatie voor de footer */
@keyframes foot {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

/* Dit is de tekst in de input */
label {
    font-size: 25px;
    font-family: monospace;
}

/* footer */
footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-top: 4px solid black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-top: 850px;
    animation: foot linear;
    animation-timeline: view();
    animation-range: entry 0;
}